# Port on which server will start
PORT=3000

# comma separated list of hosts
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# TLS
USE_TLS=false
TLS_CERT=localhost.pem
TLS_KEY=localhost-key.pem

# Database
DSN=root:development@tcp(localhost:3306)/ailingo

# Clerk
CLERK_TOKEN=
# The webhook secret (get it from clerk dashboard)
CLERK_WEBHOOK_SECRET=

# Tokens to platforms used for production services
# OPENAI_TOKEN=
# DEEPL_TOKEN=
